<!DOCTYPE html>
{%  load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Title</title>
</head>
<body>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
               <div class="navbar-header">
                   <a class="navbar-brand" href=" ">Catalog Test Execution portal</a>
               </div>
          <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
             <li><a href="/MS1/">MS1</a></li>
             <li><a href="/MS2/">MS2</a></li>
            <li><a href="/MS3/">MS3</a></li>
              <li><a href="/MS4/">MS4</a></li>
          </ul>
          </div>
      </nav>

  <div class="container-fluid">
  <h2>MS4Testcases</h2>

  <table  class="table table-bordered">
    <thead>
      <tr class="success">
        <th>Test ID</th>
        <th>Test Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

        {% for test in test_list  %}
                 {% if test.testcategory == "MS4" %}
                 <tr class="success">
                     <td>{{ test.testid }}</td>
                     <td>{{ test.testname }}</td>
                     <td><a class="btn btn-primary btn-lg" href="/run/" role="button">RUN</a></td>
                 </tr>
                 {% endif %}
             {% endfor %}


    </tbody>
  </table>
</div>

</body>
</html>